body {
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/dark_bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    color:aliceblue;
}

.navbar-inverse .navbar-brand {
    text-transform: uppercase;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    font-family: Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.75rem;
}

.thumbnail {
    border: 1px solid #9d9d9d;
    background-color: #9d9d9d;
}

.panel {
    border: none;
    background-color: rgba(0,0,0,0.8);
}

.like{
    font-size: 15px;
    margin-left:100%;
}

.row {
    margin: 0px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.search-box{
    padding-top: 10px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.label {
    line-height: 2;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
