@model CodeFirstForum.ViewModels.ManualViewModel
@{
    ViewData["Title"] = "Test";
}

<h2>@Model.Manual.Title</h2>
<h3>@Model.Manual.Description</h3>

<div id="comments">
    @foreach (string tag in Model.Tags)
    {
        <button class="btn btn-info btn-sm">@tag</button>
    }
</div>

<div class="col-md-4">
    <div class="thumbnail" style="height: 310px; width:310px">
        <img id="photo" style="height: 300px; width: 300px" src="@Model.Manual.Photo">
    </div>
</div>

