@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Belarus<br />
    Minsk, Surganova  37/2<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="https://vk.com/id232349174">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:galezkij@yandex.ru">Marketing@example.com</a>
</address>
